.app-container {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}

.main-column{display:flex;flex-direction:column;flex:1}
.main-container {
  flex: 1;
  padding: 18px;
  overflow:auto;
}